h1 {
    color:white;
    background-color:green;
}
body {
    background-image:url('./imagens/fundo.jpg') ;                
    font-family: 'Alata', sans-serif;
    color: white;
    background-color: black;

}