h1 {
    color:white;
 master
}
body {                
    font-family: 'Alata', sans-serif;
    color: white;
    background-color: black;
}
img {
    float: right;
    background-color: black
}        
    gh-pages
